
<%@meetings.count %>

<%= link_to "new routine",new_meeting_path,class: "btn btn-info" %>

<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <div class="meeting">
        <p><%= meeting.trail.title %></p>
        <small><%= meeting.time unless meeting.multi_days? %></small>
      </div>
    <% end %>
  <% end %>
</div>
