<div class="container-forms d-flex justify-content-center mt-5">
  <div class="row">
    <h3>Fill up the form bellow to sign up!</strong></h3>
  </div>
</div>
<div class="container-forms d-flex justify-content-center mt-4">
  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :photo, label: "Pick up your best photo:", as: :file %>
        <%= f.input :first_name, label: "Write down your first name:",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "First Name" }%>
        <%= f.input :last_name, label: "Now it's time to tell us your last name:",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Last Name" }%>
        <%= f.input :email, label: "Which email you would like to use to login?",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password, label: "Choose the characters wisely!",
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Now we need you to type again the characteres you chose:",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions btn btn-success d-flex justify-content-center mt-4">
        <%= f.button :submit, "Submit!" %>
      </div>
    <% end %>
  </div>
    <%#= render "devise/shared/links" %>
  </div>
</div>
