
<%= form_with html: {data: {controller: "youtube-search"}, class: "d-flex mb-3"} do |form| %>
  <%= form.text_field :query,
    class: "form-control",
    placeholder: "Search for Youtube Videos",
    data: { "youtube-search-target" => "query"}
  %>
  <%= form.submit "Search!", data: { "action": "click->youtube-search#search" }, class: "btn btn-primary mr-3" %>
<% end %>

<div data-youtube-search-target="results">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <div class="video" data-id="<%= result['id']['videoId'] %>">
        <div class="thumbnail">
          <img src="<%= result['snippet']['thumbnails']['medium']['url'] %>">
        </div>
        <div class="info">
          <h2><%= result['snippet']['title'] %></h2>
          <p><%= result['snippet']['description'] %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum resultado encontrado para '<%= @query %>'</p>
  <% end %>
</div>

