<%= form_with html: {data:{controller: "youtube-search", action: "submit->youtube-search#search"}, class: "d-flex mb-3"} do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for Youtube Videos",
    data: {target: "youtube-search.query"}
  %>
  <%= submit_tag "Search!", class: "btn btn-primary mr-3" %>
<% end %>

<% if @results.present? %>
  <ul>
    <% @results.each do |result| %>
      <li>
        <a href="https://www.youtube.com/watch?v=<%= result['id']['videoId'] %>" target="_blank">
          <%= result['snippet']['title'] %>
        </a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum resultado encontrado para '<%= @query %>'</p>
<% end %>
