<div id="<%= dom_id trail %>">
  <p>
    <strong>User:</strong>
    <%= trail.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= trail.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trail.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= trail.category %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <% if @average.present? %>
      <span data-controller="star-rating" data-star-rating-average="<%= @average %>" data-star-rating-max="5">
        <% (1..5).each do |i| %>
          <% if i <= @average %>
            <i class="fas fa-star" data-action="click->form-submit#envia"></i>
          <% else %>
            <i class="far fa-star" data-action="click->form-submit#envia"></i>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </p>
</div>
