<div id="<%= dom_id trail %>">
  <p>
    <strong>User:</strong>
    <%= trail.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= trail.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trail.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= trail.category %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= @average %>
  </p>
</div>
