<div class="container text-center font-weight-bold">
 <div class="hero">
    <% if current_user.trails.any? %>
      <h2><strong>Boas vindas <%= current_user.first_name %> <%= current_user.last_name %>.</strong></h2>
      <h2>Agora você pode criar sua próximo Trilha</h2>
      <%= link_to "Nova Trilha", new_trail_path, class: "btn btn-primary mb-3 botao-index mt-1" %>
      <h3>Ou aproveitar as Trilhas já existentes</h3>
    <% else %>
      <h2><strong>Boas vindas <%= current_user.first_name %> <%= current_user.last_name %>.</strong></h2>
      <h2>Seja bem vindo ao Learning Shots.</h2>
      <h3>Para começar sua experiencia, crie uma nova Trilha clicando no botão abaixo.</h3>
      <%= link_to "Crie sua primeira Trilha", new_trail_path, class: "btn btn-primary mb-3 botao-index mt-1" %>
      <h3>Ou aproveitar as Trilhas já existentes</h3>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="cards" id="cards-index">
    <% @trails.each do |trail| %>
      <%= link_to trail_path(trail) do %>
        <div class="card">
          <%= cl_image_tag trail.photo.key, crop: :fill, class: "card-img-top" %>
          <div class="content">
            <h3 class="card-title"><strong><%=trail.title%></strong></h3>
            <p class="card-text"><%=trail.description%></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
