<div class="container text-center font-weight-bold">
 <div class="hero">
    <% if current_user.trails.any? %>
      <h3><strong>Welcome <%= (current_user.first_name&.capitalize) %> <%= (current_user.last_name&.capitalize) %>!</strong></h3>
      <p id="landing-about">Now you can create a new Trail.</p>
      <%= link_to "Create Trail", new_trail_path, class: "btn btn-primary mb-3" %>
      <p id="landing-about">Or enjoy the available Trails bellow:</p>
    <% else %>
      <h3><strong>Welcome <%= (current_user.first_name).capitalize %> <%= (current_user.last_name).capitalize %>!</strong></h3>
      <p id="landing-about">Seems like you don't have any Trail yet. To create one just click in the buttom bellow.</p>
      <%= link_to "Create Trail", new_trail_path, class: "btn btn-primary mb-3" %>
      <p id="landing-about">Or enjoy the available Trails bellow:</p>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="cards" id="cards-index">
    <% @trails.each do |trail| %>
      <%= link_to trail_path(trail) do %>
        <div class="card">
          <% if trail.photo.attached? %>
          <%= cl_image_tag trail.photo.key, crop: :fill, class: "card-img-top" %>
          <% else %>
          <%= image_tag "trail-photo-default.JPG", class: "card-img-top" %>
          <% end %>
          <div class="content">
            <h3 class="card-title"><strong><%= trail.title %></strong></h3>
            <p class="card-text"><%= trail.description %></p>
            <p class="card-text"><%= trail.category %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
