<div class="container text-center font-weight-bold">
 <div class="hero">
    <% if current_user.trails.any? %>
      <h2><strong>Welcome <%= (current_user.first_name).capitalize %> <%= (current_user.last_name).capitalize %>.</strong></h2>
      <h2>Now you can create a new Trail</h2>
      <%= link_to "New Trail", new_trail_path, class: "btn btn-primary mb-3 botao-index mt-1" %>
      <h3>Or you can enjoy the available trending Trails</h3>
    <% else %>
      <h2><strong>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</strong></h2>
      <h2>Welcome to Learning Shots.</h2>
      <h3>To start your journey, create a new Trail using the button bellow.</h3>
      <%= link_to "Create your first Trail", new_trail_path, class: "btn btn-primary mb-3 botao-index mt-1" %>
      <h3>Or you can enjoy the available trending Trails</h3>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="cards" id="cards-index">
    <% @trails.each do |trail| %>
      <%= link_to trail_path(trail) do %>
        <div class="card">
          <% if trail.photo.attached? %>
          <%= cl_image_tag trail.photo.key, crop: :fill, class: "card-img-top" %>
          <% else %>
          <%= image_tag "trail-photo-default.JPG", class: "card-img-top" %>
          <% end %>
          <div class="content">
            <h3 class="card-title"><strong><%=trail.title%></strong></h3>
            <p class="card-text"><%=trail.description%></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
