<div class="container d-flex justify-content-center text-center mt-5">
  <div class="row">
    <h3><strong><%= (current_user.first_name&.capitalize) %> <%= (current_user.last_name&.capitalize) %>, here you can se all your Trails.</strong></h3>
    <p id="landing-about">You can enjoy it all and also create another one!</p>
  </div>
</div>
<div class="container d-flex justify-content-center text-center">
  <div class="row">
    <%= link_to "Create Trail", new_trail_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <%# <div class=""> %>
    <div class="cards" id="cards-index">
      <% @trails.each do |trail| %>
        <%= link_to trail_path(trail) do %>
          <div class="card">
            <% if trail.photo.attached? %>
            <%= cl_image_tag trail.photo.key, crop: :fill, class: "card-img-top" %>
            <% else %>
            <%= image_tag "trail-photo-default.JPG", class: "card-img-top" %>
            <% end %>
            <div class="content">
              <h3 class="card-title"><strong><%=trail.title%></strong></h3>
              <p class="card-text"><%=trail.description%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <%# </div> %>
</div>
<%# <%= link_to "New trail", new_trail_path %>
