<div class="container d-flex justify-content-center mt-5">
  <div class="row col-6">
    <input TYPE="text" placeholder="O que  quer aprender hoje?"/>
  </div>
</div>
<div class="container">
  <%# <div class=""> %>
    <div class="cards" id="cards-index">
      <% @trails.each do |trail| %>
        <%= link_to trail_path(trail) do %>
          <div class="card">
            <% if trail.photo.attached? %>
            <%= cl_image_tag trail.photo.key, crop: :fill, class: "card-img-top" %>
            <% else %>
            <%= image_tag "trail-photo-default.JPG", class: "card-img-top" %>
            <% end %>
            <div class="content">
              <h3 class="card-title"><strong><%=trail.title%></strong></h3>
              <p class="card-text"><%=trail.description%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <%# </div> %>
</div>
<%# <%= link_to "New trail", new_trail_path %>
