<div class="container d-flex justify-content-center">
  <div class="row col-6">
    <%= render "trails/search_content", locals:{trail: @trail} %>
    <% if @results.present? %>
      <%@results.each do |video| %>
      <%= render "trails/video", locals:{video: video} %>
      <%end %>
    <% end %>
  </div>
</div>
<div class="container show-trails">

  <%= render @trail %>

</div>
<div>
<div class="container d-flex justify-content-start">
  <div class="row col-6">
    <%= link_to "Back to trails", trails_path %>
    <%# if policy(@trail).edit? %>
      <% if current_user.id == @trail.user_id  %>
        <%= link_to "Edit this trail", edit_trail_path(@trail) %>
        <%= button_to "Destroy this trail", @trail, method: :delete, data: {confirm: "Are you sure?"} %>
      <% else %>
       <%#= button_to "Seguir Trilha", followers_path(@trail), method: :post %>
      <% end %>
    <%# end %>
  </div>
</div>
