<p style="color: green"><%= notice %></p>

<%= render @trail %>

<div>
  <%= link_to "Edit this trail", edit_trail_path(@trail) %> |
  <%= link_to "Back to trails", trails_path %>

  <%= button_to "Destroy this trail", @trail, method: :delete %>
</div>
<%= render "trails/search_content" %>
<% if @results.present? %>
  <h3>Resultados da pesquisa para "<%= params[:query] %>"</h3>
  <%@results.each do |video| %>
  <%= render "trails/video", locals:{video: video} %>
  <%end %>
<% end %>

